<button type="button" class="btn btn-success m-2" (click)="createCriminal()">Create New Criminal</button>
@if (!criminals() || criminals()?.length === 0) {
  <span class="ms-2">No criminals in the database</span>
} @else {
  <span class="ms-2">Number of criminals: {{criminals()?.length ?? 0}}</span>
  <div class="container-fluid">
    @for (criminal of criminals(); track criminal.id) {
      <app-criminal-card [criminal]="criminal" (onDeleteCriminal)="onDeletedCriminal($event)"/>
    }
  </div>
}
