.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  object-fit: cover; /* Keeps image from distorting */
}

.col-auto {
  flex: 0 0 auto; /* Prevents stretching */
  white-space: nowrap; /* Keeps column compact */
}

.fill-space {
  flex: 1; /* Makes other columns take up remaining space equally */
}
