@if (loading()) {
  <div class="text-center p-4">
    <div class="spinner-border" style="width: 50px; height: 50px;" role="status">
    </div>
  </div>
} @else {
  <div class="p-3">
    <button type="button" class="btn btn-light" (click)="fetchCriminals()" tooltip="Refresh">
      <i class="bi bi-arrow-clockwise"></i>
    </button>

    <button type="button" class="btn btn-success ms-2" (click)="createCriminal()">
      Create
      <i class="bi bi-person-fill-add ms-1"></i>
    </button>

    @if (!criminals() || criminals()?.length === 0) {

      <div class="text-center mt-5">
        <p class="m-0">No criminals in the database</p>
        <i class="bi bi-person-x" style="font-size: 100px;"></i>
      </div>

    } @else {

      <span class="ms-4 fs-5" tooltip="Number of Criminals">
        <i class="bi bi-people-fill me-1"></i>{{ criminals()?.length }}
      </span>

      <div class="container text-center">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
          @for (criminal of criminals(); track criminal.id) {
            <div class="col mt-4">
              <app-criminal-card [criminal]="criminal" (onDeleteCriminal)="onDeletedCriminal($event)"/>
            </div>
          }
        </div>
      </div>
    }
  </div>
}


