<div class="p-3">
  <button type="button" class="btn btn-secondary me-3" (click)="goBack()" tooltip="Return">
    <i class="bi bi-arrow-return-left"></i>
  </button>

  <div class="container mt-2 responsive-box">
    <span class="me-2">Select Modality Type:</span>
    <div class="btn-group">
      <button
        type="button"
        class="btn"
        [ngClass]="modalityToCreate() === ModalityType.FINGERPRINT ? 'btn-dark' : 'btn-outline-dark'"
        (click)="modalityToCreate.set(ModalityType.FINGERPRINT)"
      >
        Fingerprint
        <i class="bi bi-fingerprint ms-1"></i>
      </button>

      <button
        type="button"
        class="btn"
        [ngClass]="modalityToCreate() === ModalityType.IRIS ? 'btn-dark' : 'btn-outline-dark'"
        (click)="modalityToCreate.set(ModalityType.IRIS)"
      >
        Iris
        <i class="bi bi-eye ms-1"></i>
      </button>
    </div>

    @switch (modalityToCreate()) {
      @case (ModalityType.FINGERPRINT) {
        <app-create-fingerprint-modality-form [criminalId]="criminalId()"/>
      }
      @case (ModalityType.IRIS) {
        <app-create-iris-modality-form [criminalId]="criminalId()"/>
      }
    }
  </div>
</div>
