<div class="container-fluid mb-3 mt-3 row">
  <div class="col">
    <form (ngSubmit)="onSubmit()" novalidate>
      <div class="dropdown mb-3">
        <div class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown"
             aria-expanded="false">
          {{ modalityType() ?? "Select Modality Type" }}
        </div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li>
            <a class="dropdown-item" style="cursor: pointer" (click)="modalityType.set('FINGERPRINT')">
              <i class="bi-fingerprint"></i> FINGERPRINT
            </a>
          </li>
          <li>
            <a class="dropdown-item" style="cursor: pointer" (click)="modalityType.set('IRIS')">
              <i class="bi-eye"></i> IRIS
            </a>
          </li>
        </ul>
      </div>

      <div class="mb-3">
        <input type="file" class="form-control" (change)="onFileSelected($event)">
      </div>

      <div class="mb-3">
        <label for="matchScoreThreshold" class="form-label">Match Score Threshold:</label>
        <input
          type="number"
          min="0"
          max="100"
          class="form-control"
          id="matchScoreThreshold"
          name="matchScoreThreshold"
          required
          [(ngModel)]="matchScoreThreshold"
        >
      </div>

      <div class="mb-3">
        <label for="candidateCount" class="form-label">Candidate Count:</label>
        <input
          type="number"
          min="0"
          max="10"
          class="form-control"
          id="candidateCount"
          name="candidateCount"
          required
          [(ngModel)]="candidateCount"
        >
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <div class="col bg-light">
    <h5>Candidates:</h5>
    @for (candidate of hitlist(); track candidate.criminal.id) {
      <app-candidate-card [candidate]="candidate"/>
    }
  </div>

</div>
