@if (loading()) {
  <div class="text-center p-4">
    <div class="spinner-border" style="width: 50px; height: 50px;" role="status">
    </div>
  </div>
} @else {
  <div class="p-3">
    <button type="button" class="btn btn-secondary" (click)="goBack()" tooltip="Return">
      <i class="bi bi-arrow-return-left"></i>
    </button>

    <button type="button" class="btn btn-light ms-2" (click)="fetchCriminalModalities()" tooltip="Refresh">
      <i class="bi bi-arrow-clockwise"></i>
    </button>

    <button type="button" class="btn btn-success ms-2" (click)="createModalityForCriminal()">
      Create
      <i class="bi bi-plus-circle ms-1"></i>
    </button>

    @if (!modalities() || modalities()?.length === 0) {

      <div class="text-center mt-5">
        <p class="m-0">No modalities for the criminal</p>
        <i class="bi bi-file-earmark-x" style="font-size: 100px;"></i>
      </div>

    } @else {

      <button type="button" class="btn btn-danger ms-2" (click)="removeModalitiesOfCriminal()">
        Remove All
        <i class="bi bi-trash3-fill ms-1"></i>
      </button>

      <span class="ms-4 fs-5" tooltip="Number of Modalities" [tooltipPosition]="TooltipPosition.RIGHT">
        <i class="bi bi-back me-1"></i>{{ modalities()?.length }}
      </span>

      <!--      todo: grid layout like in criminals comp; differentiate between finger and iris -->
      <div class="container-fluid">
        @for (modality of modalities(); track modality.id) {
          <app-modality-card [modality]="modality" (onDeleteModality)="onDeletedModality($event)"/>
        }
      </div>
    }
  </div>
}
