<div class="row m-2 border rounded-2" style="overflow: hidden">
  <div class="col-auto image-container p-0">
    <img [src]="modalityImage" alt="modality image">
  </div>

  <div class="col fill-space align-content-center border-start">
    <p class="m-1"><strong>ID:</strong> {{ modality().id }}</p>
    <p class="m-1"><strong>Type:</strong> {{ modality().type }}</p>
  </div>

  <div class="col fill-space align-content-center border-start">
    <button type="button" class="btn btn-danger m-1" (click)="deleteModalityById(modality().id)">Delete</button>
  </div>
</div>
