<div class="card">
  <img src="/criminal-placeholder-wide.jpg" alt="criminal-placeholder-wide"/>

  <div class="card-body pt-3 text-start">
    <p class="m-0"><strong>Name:</strong> {{ criminal().firstName }} {{ criminal().lastName }}
    </p>
    <p class="m-0 placeholder-glow"><strong>Email:</strong> {{ criminal().email }}</p>
    <p class="m-0"><strong>Phone:</strong> {{ criminal().phoneNumber }}</p>
  </div>

  <div class="card-footer d-flex justify-content-center gap-1">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button
        class="btn btn-outline-secondary"
        [tooltip]="tooltipCopyId()"
        (click)="copyCriminalId()"
        (mouseleave)="onMouseLeaveCopyId()"
      >
        <i class="bi bi-copy"></i>
      </button>

      <button
        class="btn btn-outline-primary"
        (click)="showModalitiesForCriminal()"
        tooltip="Show Modalities"
      >
        <i class="bi bi-fingerprint"></i>
      </button>

      <button class="btn btn-outline-danger" (click)="deleteCriminalById()">
        <i class="bi bi-trash3-fill"></i>
      </button>

    </div>

    <div class="dropdown">
      <button
        class="btn btn-dark dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        tooltip="Address"
      >
        <i class="bi bi-house-fill me-2"></i>
      </button>

      <ul class="dropdown-menu bg-dark text-white" style="width: 250px">
        <li>
          <p class="m-2"><strong>Country:</strong> {{ criminal().address.country }}</p>
          <p class="m-2"><strong>City:</strong> {{ criminal().address.city }}</p>
          <p class="m-2"><strong>Postal Code:</strong> {{ criminal().address.postCode }}</p>
          <p class="m-2">
            <strong>Street:</strong> {{ criminal().address.street }} {{ criminal().address.streetNumber }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
