<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" (click)="setActiveNavTab('criminals')">
      Criminal Identification System
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/" [class.active]="activeNavTab() === 'criminals'"
           (click)="setActiveNavTab('criminals')">Criminals
        </a>
        <a class="nav-link" routerLink="identification" [class.active]="activeNavTab() === 'identification'"
           (click)="setActiveNavTab('identification')">Identification
        </a>
        <a class="nav-link" routerLink="verification" [class.active]="activeNavTab() === 'verification'"
           (click)="setActiveNavTab('verification')">Verification
        </a>
      </div>
    </div>
  </div>
</nav>
