<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" (click)="setActiveNavTab('criminals')">
      Criminal Identification System
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-link me-2"
          routerLink="/"
          [class.active]="activeNavTab() === 'criminals'"
          (click)="setActiveNavTab('criminals')"
        >
          <i class="bi bi-people me-1"></i>
          Criminals
        </a>
        <a
          class="nav-link me-2"
          routerLink="identification"
          [class.active]="activeNavTab() === 'identification'"
          (click)="setActiveNavTab('identification')"
        >
          <i class="bi bi-search me-1"></i>
          Identification
        </a>
        <a
          class="nav-link"
          routerLink="verification"
          [class.active]="activeNavTab() === 'verification'"
          (click)="setActiveNavTab('verification')"
        >
          <i class="bi bi-person-check me-1"></i>
          Verification
        </a>
      </div>

      <app-theme-switch class="ms-auto"/>
    </div>
  </div>
</nav>
